  /* configuracoes gerais da pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*cor de fundo*/
  body {
    background-image: linear-gradient(to bottom right, #0D0D0D, #262626, #404040, #595959, #A6A6A6);
    height: 100vh;
  }
  
  body * {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  /*div principal*/  
  #container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }

  /*alinhamento do perfil*/  
  #profile {
    text-align: center;
    padding: 24px;
  }
  
  /*imagem do perfil*/
  #profile img {
    width: 180px;
    display: block;
    margin: auto;
  }
  
  /*texto do perfil*/
  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  /*lista*/
  ul {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    padding: 24px 0;
  }
  
  /*links*/
  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 24px;
    
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    
    text-decoration: none;
    font-weight: 500;
  
    transition-duration: 0.2s;
  }
  
  /*pseudo-selector*/
  ul li a:hover {
    background: rgba(0, 0, 0, 0.02);  
    border: 1.5px solid white;
  }

  /*paginas complementares*/
  #info {
    padding: 16px 24px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;  
    text-align: justify;
  }

  #info h1, p {
    padding-bottom: 10px;
  }

  #info h1 {
    text-align: center;
  }

  footer {
    font-size: 14px;
    text-align: center;
    padding: 14px;
  }
